<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5QDQ6CGL4J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5QDQ6CGL4J');
</script>
</head>
<form action="/dane" method = "POST">
  <p>Imię <input type = "text" name = "Imię" /></p>
  <p>Nazwisko <input type = "text" name = "Nazwisko" /></p>
  <p>E-mail <input type = "email" name = "E-mail" /></p>
  <p><input type = "submit" value = "Prześlij" /></p>
</form>
<img style="width: 350px;" src="../static/1.jpg" />
<img style="width: 350px;"src="../static/2.webp" />
<img style="width: 350px;"src="../static/3.jpg" />
<img style="width: 350px;"src="../static/4.webp" />